<div class="right_col" role="main">

  <div class="title-left">
    <h3>Editing Volunteer</h3>
  </div>

  <div class="row">
    <div class="col-md-8 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_title">
          <h2> Volunteer Information</h2>

          <div class="clearfix"></div>
        </div>

        <div class="x_content">
          <br>

          <div class="form-horizontal form-label-left">

            <%= render 'form' %>

          </div>

        </div>
      </div>
    </div>
    <div class="col-md-4 col-xs-12">
      <div class="x_panel">
        <%= render 'list' %>
      </div>
    </div>
  </div>

</div>