
<div class="container">
  <h2 class="page-header">Working With Us <%= image_tag 'icon1.png' %></h2>
<div class="row">
    <div class="col-md-6">
      <div class="box-style-green">
      <h4 class="text-style-green"> Why Volunteer?</h4>
        <p>Our institution relies directly on the help of good people to maintain our doors open! We need your help to continue our work and help the animals in need!
        </div>
      <br>
      <div class="box-style-orange">
      <h4 class="text-style-orange"> Volunteer Work</h4>
          <p>There are many ways to help us in our cause: walk the dogs, bathe them, gather donations and so on. We aim to find something that suits everyone!</p>
    </div>

      <br>

      <div class="box-style-blue">
        <h4 class="text-style-blue"> How to Become a Volunteer?</h4>
            <p>You can go directly to our shelter and volunteer or you can fill in a request here and wait for someone to contact you, just click the button below.</p>
      </div>

      <div class="row">
        <div class="col-md-2 col-md-offset-4">
          <br>
          <%= button_to 'Volunteer Request', new_request_path , class:'btn btn-large btn-primary', method:'get'%>
          <br>
        </div>

      </div>

    </div>
          <%= image_tag 'shelter_volunteer.jpg' , class: 'img-responsive'%>




  </div>
</div>
